.wrapper {
    min-height: 200px;
}
.list-tabs {
    margin-right: 15px;
    font-size: 1.7rem;
    font-weight: 500;
    .list-item {
        border-radius: 8px;
        margin: 4px 0;
        padding: 15px 10px;

        a {
            padding: 15px 0;
        }

        &:hover {
            background-color: #323232;
            transition: 0.4s;
        }

        &:first-child {
            margin-top: 0;
        }

        .tab-active {
            background-color: #323232;
        }

        .active {
            background-color: #323232;
        }
    }
}

.list-tabs-mobile {
    display: none;
}

@media (max-width: 1023px) {
    .wrapper {
        max-width: 1023px;
        min-width: 200px;
        display: block;

        .list-tabs {
            display: none;
        }

        .list-tabs-mobile {
            display: block;
            margin-right: 0;
            font-size: 1.7rem;
            font-weight: 500;
            margin: 10px;
            li {
                background-color: #323232;
                width: 100%;
                height: 40px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                padding: 0 10px;
                display: none;
            }

            .active-mobi {
                display: block;
            }

            .none-mobi {
                display: none;
            }
        }
    }
}
