:root {
    --BackGroundColor: #f5f5f5;
    --BorderSoLid: #e5e5e5;
    --BorderRadius: 12px;
    --GapPadding: 10px;
    --SpacePadingInput: 15px;
}
.wrapper {
    background-color: var(--BackGroundColor);
}

.ml-16 {
    margin-left: 16px;
}

.mr-16 {
    margin-right: 16px;
}
.middleCart {
    display: block;
    background: var(--color-while);
    border-radius: var(--BorderRadius);
    .listing-cart {
        display: flex;
        flex-flow: column wrap;
        .prd-item {
            display: flex;
            padding: 30px;
            width: 100%;
            box-sizing: border-box;

            .btn__delete--cart {
                cursor: pointer;
                color: #777;
                margin-top: 14px;
                text-align: center;
            }
        }

        .prd-item + .prd-item {
            border-top: 3px solid #eee;
        }

        .imgsp {
            width: 24%;
            margin-right: 24px;
            img {
                width: 100%;
                height: 90px;
                object-fit: contain;
            }

            .imgsp__link {
                display: block;
            }

            button {
                padding: 0 8px 0 2px;
                background: var(--color-while);
                border-radius: 4px;
                color: #9e9e9f;
                display: block;
                margin: var(--SpacePadingInput) auto 0;
            }
        }
        .prd-infosp {
            width: 100%;
            .prd-name-price {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: var(--SpacePadingInput);
            }
            span {
                display: flex;
                flex-direction: column;
            }
        }
        .prd-promo {
            margin-bottom: var(--SpacePadingInput);
            aside {
                label {
                    display: flex;
                    align-items: center;
                    gap: var(--GapPadding);
                }
            }
        }
        .prd-choose-color {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: relative;
            margin-bottom: var(--SpacePadingInput);
            .prd-size-and-color {
                padding: 6px 12px 6px var(--GapPadding);
                border-radius: 8px;
                position: relative;
                border: 1px solid var(--BorderSoLid);
                label {
                    display: flex;
                    gap: 10px;
                }
                .prd-listColor {
                    position: absolute;
                    top: 30px;
                    border-radius: 12px;
                    left: 0;
                    border: 0;
                    width: 210px;
                    padding: 0 10px;
                    background: #fff;
                    box-shadow: 4px 4px 8px #23232300, 5px 4px 8px #9d9d9d38;
                    .select-color {
                        padding: 12px 0;
                        cursor: pointer;
                        border-bottom: 1px solid var(--BorderSoLid);
                        img {
                            width: 35px;
                        }
                    }
                }
            }
            .prd-size-and-color + .prd-size-and-color {
                margin-left: 8px;
            }
            .prd-choosenumber {
                display: flex;
                .minus,
                .plus {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 2px;
                    float: left;
                    border: 1px solid var(--BorderSoLid);
                    background: var(--color-while);
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                    cursor: pointer;
                }
                .number {
                    text-align: center;
                    width: 40px;
                    border-radius: 4px;
                    height: 24px;
                    line-height: 22px;
                    background-color: var(--BorderSoLid);
                    color: var(--sub-background-color);
                    font-size: 13px;
                    margin: 0 0;
                }
            }
        }
    }
    .total-provisional {
        line-height: 21px;
        padding: 0 30px 17px;
        display: flex;
        justify-content: space-between;

        .total-money__block {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            .total-money {
                font-weight: 700;
                font-size: 1.8rem;
            }

            .total-submoney {
                font-size: 1.4rem;
                color: #777;
            }
        }
    }
    .infor-customer {
        border-top: 4px solid var(--BorderSoLid);
        border-bottom: 4px solid var(--BorderSoLid);
        padding: var(--SpacePadingInput) 30px var(--GapPadding);
        .form-customer {
            padding-top: var(--GapPadding);
        }
        .sex-customer {
            display: flex;
            align-items: center;
            gap: 40px;
            padding: 6px 0;
            span {
                display: flex;
                align-items: center;
                gap: var(--GapPadding);
            }
        }
    }
    .form,
    .anotheroption {
        padding: var(--SpacePadingInput) 0 5px 0;
        display: flex;
        .fillname {
            width: 100%;
            margin: 0 1% 0 0;
            position: relative;
        }
        &__input {
            display: block;
            overflow: hidden;
            border: 1px solid var(--BorderSoLid);
            border-radius: var(--BorderRadius);
            padding: var(--SpacePadingInput);
            box-sizing: border-box;
            width: 100%;

            /* Change border when input focus*/

            &:focus {
                border: 1px solid #fc9639;
                box-shadow: 0 0 4px #fc9639;
            }
        }

        &__label {
            position: absolute;
            top: 16px;
            left: var(--GapPadding);
            transition: all 0.2s;
            cursor: text !important;
            padding: 0 0.5rem;
            background-color: var(--color-while);
            cursor: text;
        }
    }
    .form__input {
        font-size: 1.5rem;
    }
    .form__input:focus ~ .form__label,
    .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
        top: -0.5rem;
        font-size: 1.4rem;
        left: 0.8rem;
    }
    .choosegetgoods {
        padding: var(--SpacePadingInput) 30px 0;
        .click-choose {
            display: flex;
            align-items: center;
            gap: 40px;
            padding: 6px 0;
            span {
                display: flex;
                align-items: center;
                cursor: pointer;
                gap: var(--GapPadding);
                padding: var(--GapPadding) 30px var(--GapPadding) 0;
            }
        }
        .choose-content {
            background: #f5f5f7;
            border: 0;
            margin-top: 10px;
            border-radius: var(--BorderRadius);
            padding: var(--GapPadding) var(--BorderRadius) 5px;
            .deli-address {
                display: block;
            }
            .cntry-district {
                display: flex;
                padding: 10px;
                position: relative;
                flex-direction: column;
                .form__address {
                    width: 50%;
                }
                .form__address--label {
                    display: block;
                    padding-bottom: 6px;
                }

                .form__address--haspass + .form__address--haspass {
                    margin-top: 16px;
                }

                .form__address + .form__address {
                }

                .form__address--haspass {
                    display: flex;
                }
                .form__address--ctrl {
                    width: 100%;
                    height: 40px;
                    padding: 10px;
                    border-radius: 6px;
                    border: 1px solid #ccc;
                }

                .form__address--full {
                    width: 100%;
                    margin-top: 20px;
                }
            }
            .country,
            .district,
            .wards,
            .filladdress {
                margin: 0 0 1% 0;
                padding: 2px;
                button {
                    border-radius: var(--BorderRadius);
                    padding: var(--SpacePadingInput) var(--GapPadding);
                    display: flex;
                    border: 1px solid var(--BorderSoLid);
                    width: 100%;
                    background-color: var(--color-while);
                    position: relative;
                    cursor: pointer;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            .filladdress {
                position: relative;
            }
            .select-country {
                position: absolute;
                top: 50px;
                left: 0;
                right: 0;
                border: 1px solid var(--BorderSoLid);
                border-radius: var(--BorderRadius);
                background-color: var(--color-while);
                z-index: 1;
                padding: 0 var(--GapPadding);
                width: max-content;
                display: none;
                input {
                    border-radius: var(--BorderRadius);
                    border: 1px solid var(--BorderSoLid);
                    font-size: 13px;
                    line-height: 18px;
                    padding: var(--SpacePadingInput);
                    width: 100%;
                }
                .boxsearch {
                    position: relative;
                    display: block;
                    margin: var(--GapPadding) 0;
                }
                .ciSearch {
                    padding: var(--GapPadding);
                    position: absolute;
                    right: 0;
                    top: calc(100% - 84%);
                }
                .listName {
                    max-height: 190px;
                    position: relative;
                    overflow-y: scroll;
                    display: flex;
                    &::-webkit-scrollbar {
                        width: 2px;
                        height: 46px;
                    }
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1;
                    }

                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: #888;
                    }

                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #555;
                    }
                    aside,
                    article {
                        min-width: 140px;
                        p {
                            padding: 7px;
                            overflow: hidden;
                            margin: 0 5px 6px 0;
                            background: #288ad6;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }
    .anotheroption {
        display: block;
        border-bottom: 4px solid #e5e5e5;
        padding: 20px 30px;
        ul {
            li {
                padding: var(--GapPadding) 0;
                label {
                    display: flex;
                    align-items: center;
                    gap: var(--GapPadding);
                }
                .infocompany {
                    padding: var(--GapPadding) var(--GapPadding) 3px;
                    border-radius: var(--BorderRadius);
                    background: #f6f6f6;
                    margin: var(--GapPadding) 0 0;
                    position: relative;
                    .untouched {
                        display: block;
                        overflow: hidden;
                        border: 1px solid var(--BorderSoLid);
                        border-radius: var(--BorderRadius);
                        padding: var(--SpacePadingInput);
                        width: 100%;
                        box-sizing: border-box;
                        margin-bottom: 7px;
                    }
                }
            }
        }
    }
    .finaltotal {
        display: block;
        overflow: visible;
        padding: 20px 30px;
        position: relative;
        .area-total {
            .discountcode {
                margin-bottom: 20px;
                position: relative;

                .applycode {
                    display: flex;
                    gap: 40px;
                    background-color: #f5f5f7;
                    margin: var(--GapPadding) 0 0;
                    padding: var(--GapPadding);
                    border-radius: var(--BorderRadius);
                    width: 100%;
                    overflow: visible;
                    .applycode__text-input {
                        flex: 1;
                        input {
                            padding: var(--SpacePadingInput);
                            border: 1px solid var(--BorderSoLid);
                            border-radius: var(--BorderRadius);
                            width: 100%;
                        }
                    }
                    .applycode__button {
                        button {
                            border: 1px solid var(--BorderSoLid);
                            background: var(--BorderSoLid);
                            color: var(--color-while);
                            border-radius: var(--BorderRadius);
                            padding: var(--SpacePadingInput);
                        }
                    }
                }
            }
        }
        .submitorder {
            button {
                background: #0071e3;
                border-radius: var(--BorderRadius);
                display: flex;
                color: var(--color-while);
                text-align: center;
                border: 0;
                padding: 20px 0;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                width: 100%;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .latch-order {
        .box-order {
            display: block;
            border: 1px solid var(--BorderSoLid);
            background: var(--color-while);
            border-radius: var(--BorderRadius);
            margin-bottom: var(--GapPadding);
        }
        .rowtime {
            display: flex;
            justify-content: space-between;
            padding: 20px var(--GapPadding);
        }
        ul {
            display: block;
            overflow: hidden;
            padding: 0 var(--GapPadding);
            li {
                display: flex;
                border-top: 1px solid var(--BorderSoLid);
                gap: var(--GapPadding);
                padding: 20px 0;
                .imgnm {
                    width: 10%;
                    img {
                        width: 100%;
                    }
                }
                .text-order {
                    flex: 1;
                    line-height: 20px;
                    .amount-color {
                        flex-direction: column;
                        display: flex;
                    }
                }
            }
        }
        .lastrow {
            padding: 13px 0;
            margin-left: var(--GapPadding);
            border-top: 1px solid var(--BorderSoLid);
            .freeship {
                color: #10a702;
            }
        }
    }
}
.content-pay {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    min-width: 0;
    .yourCartBuyMore {
        padding: 14px 0 10px 0;
    }

    .BuyMore {
        display: flex;
        align-items: center;
        gap: var(--GapPadding);
        padding: var(--GapPadding);
    }

    .empty__cart {
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .empty__cart--text {
            font-size: 1.6rem;
            margin-top: 20px;
        }
        .empty__cart--icon {
            font-size: 8rem;
            color: #3aaf85;
        }
    }
}
