:root {
    --height: 60px;
    --color--primary: #101010;
    --sub-white-color: #fff;
    --height-search: 40px;
    --top-search: 8px;
}
.header {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: var(--color--primary);
    .head {
        display: flex;
        background-color: var(--color--primary);
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: var(--height);
        position: relative;
        max-width: var(--sub-Width);
        margin: 0 auto;
        .MenuBarIcon {
            display: none;
        }
    }

    .menu-new {
        display: flex;
        justify-content: flex-start;
        padding: 15px 0;

        border-top: 1px solid #3b3b3b;
        max-width: var(--sub-Width);
        margin: 0 auto;
    }
}

.logo-personal {
    a:first-child {
        padding: 0 10px 0 0;
        border-right: 1px solid #3b3b3b;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
    }
    .personal-logo {
        background-position: 0 0;
        width: 130px;
        height: var(--width-height-logo);
        object-fit: cover;
        .personal-logo,
        .personal_auth-logo {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .personal_auth-logo {
        width: var(--width-height-logo);
        height: var(--width-height-logo);
    }
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    .menu-item {
        padding: 0px;
        .menu-link {
            position: relative;
            display: block;
            padding: 4px 0;
            text-decoration: none;
            transition: all 0.5s linear;

            span {
                display: block;
                color: var(--color-while);
                font-size: 1.4rem;
                line-height: 20px;
                padding: 0 20px;
            }

            &::after {
                position: absolute;
                content: '';
                top: 100%;
                left: 0;
                width: 100%;
                height: 1px;
                background: var(--sub-white-color);
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.5s;
            }

            &:hover {
                color: #95a5a6;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }
}

.search-header {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 24px;

    .search-input {
        position: relative;
        width: 90%;

        input {
            border: 1px solid #2f3033;
            padding: 8px 15px;
            line-height: var(--height-search);
            width: 100%;
            height: var(--height-search);
            color: #3b3b3b;
            border-radius: 24px 0 0 24px;
            &:focus-within {
                border-color: red;
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 1px;
            background-color: #3b3b3b;
            right: 0;
            height: calc(var(--height-search) - var(--top-search) * 2);
            top: var(--top-search);
        }

        div {
            color: #000;
            position: absolute;
            right: 8px;
            top: 0;
            bottom: 0;
            line-height: 40px;
            font-size: 2rem;
            cursor: pointer;
        }
    }
    // input:not(:placeholder-shown) ~ button {
    //     background-color: red;
    // }
    .search-btn {
        width: 10%;
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: #2f3033;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;

        button {
            background-color: transparent;
            color: #fff;
        }
        .search-icon {
            font-size: 2rem;
        }
    }
    .filter_product-list-search {
        display: none;
    }
    .filter_product-list {
        position: absolute;
        top: 104%;
        width: 100%;
        border-radius: 4px;
        height: 500px;
        overflow: auto;
        z-index: 99999999;
        align-items: center;
        display: block;
        .product_suggest {
            display: block;
            overflow: hidden;
            padding: 10px;
            background: #fff;
            a {
                display: flex;
                .product_item-info {
                    line-height: 19px;
                }
                img {
                    width: 10%;
                }
            }
        }
    }
}

.search-product.name-user {
    width: unset;
    border-radius: 20px;
    .name-block {
        color: #fff;
        display: flex;
        align-items: center;
        padding: 0 4px;
        p {
            font-size: 1.4rem;
            margin-right: 10px;
            max-width: 120px;
            overflow: hidden;
            max-height: 20px;
            line-height: 20px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            --webkit-user-select: none;
        }

        .icon-search {
            position: relative;
            top: -2px;
        }
    }
}

.search-product,
.cart-product {
    display: inline-block;
    vertical-align: middle;
    background: #2f3033;
    border-radius: 100%;
    padding: 10px;
    margin: 0 0 0 10px;
    position: relative;
    height: 40px;
    width: 40px;
    .num-cart {
        position: absolute;
        top: -2px;
        right: -8px;
        font-size: 1.4rem;
        background: #cd201f;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        border-radius: 50%;
    }
    :hover {
        cursor: pointer;
    }
}
.icon-search,
.cart-product,
.icon-btnBar {
    color: var(--color-while);
    font-size: 2rem;
}
.form-search {
    display: none;
    width: 600px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    z-index: 9999;
    height: var(--height);
    padding: 19px 0;
    transition: 2s;
    .click-search {
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: center;
        input {
            width: 100%;
            padding-left: 10px;
            overflow: hidden;
            box-sizing: border-box;
            border: 0;
            background: unset;
            color: var(--color-while);
        }
    }
}
.head.active-search {
    .logo-personal,
    .menu,
    .search-cart {
        display: none;
    }
    .form-search.active {
        opacity: 1;
        padding-left: 30px;
        display: block;
        transition: 0.2s linear;
    }
}
.bg-bg.active {
    display: block;
    transition: 0.2s;
}
.bg-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.8;
    z-index: 9998;
    display: none;
}
.nav__overlay {
    position: fixed;
    top: var(--height);
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.8;
    z-index: 9998;
}

@media (min-width: 1024px) {
    .search-cart {
        .search-product {
            // display: none;
        }
    }
    .MenuBarIcon {
        display: none;
    }
}

// table width >= 740px and width < 1024px
@media (max-width: 1023px) {
    .header {
        .head {
            padding: 0 10px;
            .MenuBarIcon {
                display: block;
            }
        }

        .menu-new {
            display: none;
            .SubMenu-Item {
                display: block;
            }
        }
    }

    .menu {
        display: none;
        .menu-item {
            width: 100%;
            padding: 10px;
            .menu-link {
                border-bottom: 1px solid #f5f5f7;
                span {
                    color: var(--color--primary);
                }
            }
        }
    }
    .form-search {
        width: 100%;
        padding: 20px;
        top: var(--height);
        background-color: var(--sub-white-color);
        .icon-search {
            color: var(--color--primary);
        }
        .click-search {
            input {
                color: var(--color--primary);
            }
        }
    }

    .bg-bg {
        top: var(--height);
    }
    .SubMenu-Item {
        flex-direction: column;
        position: fixed;
        top: var(--height);
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        background: #fff;
        .menu-item {
            width: 100%;
            padding: 10px;
            .menu-link {
                display: block;
                line-height: 2rem;
                border-bottom: 1px solid #f5f5f7;
                span {
                    color: var(--color--primary);
                }
            }
        }
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .search-product {
        display: none;
    }
}

@media (max-width: 739px) {
    .search-header {
        display: none;
    }

    .head {
        padding: 0 15px;
    }
    .search-card {
        display: flex;
        .search-product {
            display: block;
        }
    }
}
