.wrapper {
    background: #3e3e3f;
    width: 100%;
    margin: 30px 0;
    color: var(--color-while);
}

.wrapper-content {
    max-width: 1200px;
    min-width: 1024px;
    margin: 0 auto;
}

@media (max-width: 1023px) {
    .mobile {
        max-width: 100%;
    }

    .wrapper-content {
        max-width: 1023px;
        min-width: 200px;
        display: flex;
        flex-direction: column;
    }
}
