.gird{
    width: 100%;
    display: block;
    padding: 0;
    color: aliceblue;
    
}  
h1{
   color: beige;
   border-top: 2px beige;
    text-align: center;
    margin: 50px;
    border-bottom: 1px solid white  ;
    line-height: 100px;
}
.layout{
  .caterogy-name{
    background-color:beige;
    width: auto;
    height: auto;
    padding: 15px;
    line-height: 50px;
    text-align: center;
    
  }
}
.info{
    margin-left: 30px;
    .type-name{

    
    
    color: rgb(23, 18, 12);
    background-color: rgb(8, 9, 10);
    color: white;
}
    .info-group{
        padding-bottom: 30px;
    }
    .form__input{
        width: 560px;
        height: 36px;
    }
}
