.gird {
    width: 100%;
    display: block;
    padding: 0;
}
.title__account {
    color: #fff;
    border-top: 2px #fff;
    text-align: center;
    margin: 50px;
    border-bottom: 1px solid #fff;
    font-size: 2rem;
    font-weight: 600;
    line-height: 8rem;
}
.layout {
    .caterogy-name__item {
        // display: flex;
    }

    .caterogy-name {
        font-size: 1.2rem;
        font-weight: 300;
        color: #fff;
        width: auto;
        height: auto;
        padding: 4px 10px;
        line-height: 50px;
        text-align: left;
        border: 1px solid #fff;
        border-radius: 5px;
        margin: 0 12px 32px 12px;
        display: flex;
        align-items: center;
        .icon_setting {
        }
        .icon_shopping {
        }

        .icon__cate {
            padding-top: 5px;
            font-size: 2.2rem;
            position: relative;
            top: -3px;
            margin-right: 10px;
        }
    }
    .caterogy-name:hover {
        background-color: #fff;
        color: #3e3e3f;
        cursor: pointer;
    }
}
.info {
    margin-left: 60px;
    .type-name {
        color: rgb(23, 18, 12);
        color: #fff;
    }
    .info-group {
        padding-bottom: 48px;
        font-size: 1.5rem;
        font-weight: 200;
        .location__block {
            display: flex;
            align-items: center;
            width: 100%;
            .flex-1 {
                flex: 1;
            }
            .location__item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 0 12px;
                .location__title {
                    color: #fff;
                    display: block;
                    padding-bottom: 10px;
                }

                .location__ctrl--text {
                }
                .location__ctrl--text,
                .location__ctrl {
                    min-width: 164px;
                    display: block;
                    margin-top: 4px;
                    padding: 10px;
                    background-color: transparent;
                    border: 1px solid #fff;
                    border-radius: 4px;
                    color: #fff;
                    &:focus {
                        border: 1px solid #fff;
                    }

                    option {
                        color: #000;
                    }
                }
            }

            .location__item:first-child {
                padding-left: 0;
            }
            .location__item:last-child {
                padding-right: 0;
            }
        }

        .info-group__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            .btn__update {
                display: block;
                padding: 14px 30px;
                min-width: 300px;
                border-radius: 8px;

                border: 1px solid #fff;
                color: #262626;
                cursor: pointer;
                transition: all 0.3s linear;
                font-size: 1.5rem;
                font-weight: 600;
                background-color: #fff;
                &:hover {
                    background-color: transparent;
                    color: #fff;
                }
            }
        }
    }

    .form__input--file,
    .form__input {
        width: 100%;
        height: 46px;
        border-radius: 5px;
        display: inline;
        padding: 14px 20px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        &:focus {
            border: 1px solid var(--primary-color-ad);
        }
    }

    .form__input--file {
        color: #fff;
        border: 1px solid #fff;
        height: unset;
    }

    .type-name {
        padding: 0 0 10px 0;
    }
    .form__inputfile {
        background-color: #262626;
        color: #fff;
        border-radius: 2px;
    }
    .form__inputfile:hover {
        color: #fff;
        border-radius: 2px;
    }
    .adress-s {
        color: #fff;
        display: inline;
    }
}

// Cart lisrt
.order__wrapper {
    background-color: #fff;
    margin: 0 40px 40px;
    border-radius: 6px;
    .order__block {
        background-color: #fff;
        padding: 20px 30px;
        .order__list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #ccc;
            border-radius: 6px;
            flex-direction: column;

            .order__list--heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 14px;
                width: 100%;
                .order__item {
                    text-align: center;
                    .order__item--heading {
                        margin-bottom: 10px;
                        h2 {
                            font-size: 1.5rem;
                            line-height: 2rem;
                        }
                    }

                    .order__item--content {
                    }

                    .order__btn {
                        cursor: pointer;

                        .order__btn--icon {
                            font-size: 3rem;
                        }
                    }
                }
            }

            .order__list--details {
                display: none;
                align-items: center;
                width: 100%;
                padding: 10px 30px;
                margin-top: 10px;
                border-top: 1px solid #eee;
                flex-direction: column;
                .details__item {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;
                    padding: 10px 30px;
                    border: 1px solid #eee;
                    border-radius: 6px;
                    .details__img {
                        img {
                            width: 80px;
                            height: 80px;
                            object-fit: contain;
                        }
                    }
                    .details__variant {
                        text-align: center;
                        .details__variant--heading {
                            p {
                                font-size: 1.5rem;
                                font-weight: bold;
                            }
                            margin-bottom: 10px;
                        }
                        .details__variant--content {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            .name__product {
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                                --webkit-user-select: none;
                                width: 100px;
                                line-height: 2.2rem;
                            }

                            .details__variant--pro {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                width: 100%;
                                p {
                                    line-height: 2.2rem;
                                }
                                span {
                                    padding: 0 4px;
                                }
                            }
                        }
                    }
                }

                .details__item + .details__item {
                    margin-top: 10px;
                }
            }

            .order__list--details.active {
                display: flex;
            }
        }

        .order__list + .order__list {
            margin-top: 20px;
        }

        .emty__cart {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 160px;
            .emty__cart--icon {
                font-size: 4rem;
                position: relative;
                top: -2px;
                margin-right: 8px;
            }
            .emty__cart--text {
                font-size: 1.6rem;
            }
        }
    }

    .order__pagination {
        padding: 20px 0;
        .pagination__list {
            display: flex;
            align-items: center;
            justify-content: center;
            .pagination__prev {
                .icon__pagination {
                    margin-right: 4px;
                }
            }

            .pagination__num {
                display: flex;
                align-items: center;
                .pagination__num--item {
                    .btn__num {
                        height: 40px;
                        width: 40px;
                        padding: 10px;
                        cursor: pointer;
                        margin: 0 6px;
                        transition: all 0.2s linear;
                        &:hover {
                            background-color: #3e3e3f;
                            color: #fff;
                        }
                    }
                }
            }

            .pagination__next {
                .icon__pagination {
                    margin-left: 4px;
                }
            }

            .pagination__ctrl {
                display: flex;
                align-items: center;
                margin: 0 20px;
                font-size: 1.5rem;
                .pagination__ctrl--btn {
                    font-size: 1.5rem;
                    display: flex;
                    align-items: center;
                    padding: 10px 16px;
                    border-radius: 4px;
                    height: 40px;
                    cursor: pointer;
                    transition: all 0.2s linear;
                    &:disabled {
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                    .icon__pagination {
                        font-size: 1.8rem;
                    }

                    &:hover {
                        background-color: #3e3e3f;
                        color: #fff;
                    }
                }
            }
        }
    }
}
