.content__heading {
    .content__heading--title {
        line-height: 3rem;
        font-size: 2.4rem;
        color: #111827;
    }
    .content__heading--subtitle {
        line-height: 2rem;
        font-size: 1.5rem;
        color: #6b7280;
    }
}

.content__wrapper {
    margin: 30px 0;
    .content__main {
        background-color: #fff;
        padding: 20px;
        border-radius: 4px;

        .form__content {
            .input__group {
                .input__label {
                    padding-bottom: 10px;
                }

                .input__text {
                    .input__text--ctrl {
                        border: 1px solid #ccc;
                        width: 100%;
                        padding: 10px;
                        border-radius: 4px;
                        font-size: 1.4rem;
                        &:focus {
                            border-color: var(--primary-color-ad);
                        }
                    }
                }
            }

            .input__group + .input__group {
                margin-top: 20px;
            }

            .btn__form {
                margin-top: 20px;
                .btn__form--ctrl {
                    font-size: 1.6rem;
                    cursor: pointer;
                    padding: 10px 20px;
                    color: #fff;
                    background-color: var(--primary-color-ad);
                    transition: all 0.3s;
                    &:hover {
                        background-color: var(--btn-color-ad);
                    }
                }
            }
        }
    }
}

.ck-content {
    min-height: 160px;
}

.suscess {
    color: #00c300;
}

// Table
.table__block {
    width: 100%;
    table {
        width: 100%;
        border-collapse: collapse;
        th {
            text-align: left;
        }

        th,
        td {
            padding: 14px 10px;
        }

        tr {
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
        }

        .active {
            color: #00b489;
        }

        .an_active {
            color: #21759b;
        }
    }
}

.text-center {
    text-align: center !important;
}
