.wapper{
}
.box-post{
    width: 240px;
    height: 120px;
    color: white;
 
    background-color: rgb(14, 108, 163);
    border-radius: 5px ;
    margin-top: 90px;
    margin-right: 100px;
    display: block;
    padding: 10px;
    .box-category{
        margin-bottom: 15px;
    }
    .box-content{
        font-size: 2rem;
        line-height: 30px;
        
        border-bottom: 1px solid white;
    }
    .box-view{
            margin-top: 20px;
            line-height: -20px;
            
    }
}
.box-user{
    width: 240px;
    height: 120px;
    color: white;
 
    background-color: rgb(158, 132, 27);
    border-radius: 5px ;
    margin-top: 90px;
    margin-right: 100px;
    display: block;
    padding: 10px;
    .box-category{
        margin-bottom: 15px;
    }
    .box-content{
        font-size: 2rem;
        line-height: 30px;
        
        border-bottom: 1px solid white;
    }
    .box-view{
            margin-top: 20px;
            line-height: -20px;
            
    }
}
.box-admin{
    width: 240px;
    height: 120px;
    color: white;
 
    background-color: rgb(233, 55, 73);
    border-radius: 5px ;
    margin-top: 90px;
    margin-right: 100px;
    display: block;
    padding: 10px;
    .box-category{
        margin-bottom: 15px;
    }
    .box-content{
        font-size: 2rem;
        line-height: 30px;
        
        border-bottom: 1px solid white;
    }
    .box-view{
            margin-top: 20px;
            line-height: -20px;
            
    }
}
.box-product{
    width: 240px;
    height: 120px;
    color: white;
 
    background-color: rgb(4, 83, 46);
    border-radius: 5px ;
    margin-top: 90px;
    margin-right: 100px;
    display: block;
    padding: 10px;
    .box-category{
        margin-bottom: 15px;
    }
    .box-content{
        font-size: 2rem;
        line-height: 30px;
        
        border-bottom: 1px solid white;
    }
    .box-view{
            margin-top: 20px;
            line-height: -20px;
            
    }
}
.box-revenue{
    width: 240px;
    height: 120px;
    color: white;
 
    background-color: rgb(106, 53, 70);
    border-radius: 5px ;
    margin-top: 90px;
    margin-right: 100px;
    display: block;
    padding: 10px;
    .box-category{
        margin-bottom: 15px;
    }
    .box-content{
        font-size: 2rem;
        line-height: 30px;
        
        border-bottom: 1px solid white;
    }
    .box-view{
            margin-top: 20px;
            line-height: -20px;
            
    }
}
.box{
    
    width: 240px;
    height: 120px;
    color: white;
   
    background-color: blue;
    border-radius: 5px ;
    margin-top: 90px;
    margin-right: 100px;
    display: block;
    padding: 10px;
    
    .box-category{
        margin-bottom: 15px;
    }
    .box-content{
        font-size: 2rem;
        line-height: 30px;
        
        border-bottom: 1px solid white;
    }
    .box-view{
            margin-top: 20px;
            line-height: -20px;
            
    }
  
    
}
.boxmini1{
    padding: 10px;


}
.dashboard{
    display: flex;
    
    

}
.content__heading{
    padding-bottom: 50px;
    margin-bottom: 50px;
}

