.wrapper {
    box-shadow: var(--box-shadow-ad);
    // display: flex;
    // align-items: center;

    .header {
        max-width: 100%;
        height: var(--header-header-ad);
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 24px;

        .header__icon--item,
        .header__icon--show {
            cursor: pointer;

            padding: 10px 12px;
            color: var(--text-color-ad);
            border-radius: 50%;
            transition: all 0.5s;
            &:hover {
                background-color: #dadada;
            }
        }

        .icon__header {
            font-size: 2.2rem;
            position: relative;
            top: 2px;
        }

        .header__list--icon {
        }
    }
}
